.container {
  width: 992px;
  margin: 0 auto; }
  .container #logo {
    width: 100%;
    height: 100px; }
    .container #logo h1 {
      width: 385px;
      height: 76px;
      padding-top: 24px;
      float: left; }
      .container #logo h1 a {
        display: block;
        float: left; }
      .container #logo h1 span {
        display: block;
        float: left;
        height: 30px;
        line-height: 30px;
        margin: 10px 0 0 5px;
        border-left: 1px solid #ddd;
        padding-left: 15px;
        font-size: 22px; }
    .container #logo #helper {
      width: 185px;
      height: 16px;
      padding-top: 54px;
      float: right; }
      .container #logo #helper ul li {
        padding: 0 5px;
        float: left;
        font-size: 11px; }
        .container #logo #helper ul li:first-of-type span {
          color: #999; }
        .container #logo #helper ul li:last-of-type {
          border-left: 1px solid #ddd; }
        .container #logo #helper ul li a {
          color: #333;
          transition: color 0.5s; }
        .container #logo #helper ul li a:hover {
          color: #ff337e;
          text-decoration: underline; }
  .container form {
    width: 100%;
    height: 330px;
    border: 1px solid #ddd;
    position: relative; }
    .container form div {
      width: 320px;
      height: 42px;
      margin: 0 auto 25px;
      position: relative; }
      .container form div input {
        width: 320px;
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        text-indent: 30px; }
      .container form div i {
        position: absolute;
        left: 7px;
        top: 11px; }
    .container form .notice {
      display: none;
      position: absolute;
      bottom: -22px;
      font-size: 11px;
      text-indent: 19px;
      color: #ff337e; }
      .container form .notice b {
        color: #fff;
        font-weight: normal;
        text-indent: 0;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        width: 16px;
        height: 16px;
        background: #ff337e;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top: 2px; }
    .container form #phone {
      margin-top: 80px; }
    .container form #hide {
      display: none;
      height: 227px; }
      .container form #hide #idcode input {
        width: 117px; }
      .container form #hide #idcode .foridcode {
        display: inline-block;
        width: 83px;
        text-align: center;
        line-height: 44px;
        letter-spacing: 5px;
        font-size: 20px;
        background: #eee;
        vertical-align: middle;
        height: 44px;
        margin: 0 5px; }
      .container form #hide #idcode .gray {
        font-size: 11px;
        color: #aaa; }
      .container form #hide #idcode a {
        font-size: 11px; }
      .container form #hide #checkemail input {
        width: 187px; }
      .container form #hide #checkemail a {
        display: inline-block;
        background: #ffba00;
        width: 135px;
        line-height: 44px;
        height: 44px;
        border: 0;
        text-align: center;
        color: #fff;
        margin-left: -5px;
        font-size: 14px; }
    .container form #agree {
      height: 20px;
      margin-bottom: 13px; }
      .container form #agree a {
        color: #ff337e; }
    .container form #sub input {
      background: #ff337e;
      color: white;
      line-height: 40px;
      text-align: center;
      border: 0;
      border-radius: 2px;
      font-size: 16px;
      text-indent: 0;
      transition: background 1s; }
      .container form #sub input:hover {
        background: #ff222e; }
  .container #bottom {
    width: 434px;
    height: 48px;
    margin: 48px auto 0; }
    .container #bottom ul {
      width: 200px;
      height: 11px;
      margin: 0 auto; }
      .container #bottom ul li {
        float: left;
        padding: 0 6px;
        height: 11px; }
        .container #bottom ul li a {
          font-size: 11px;
          color: #999; }
    .container #bottom p {
      width: 100%;
      margin-top: 17px;
      text-align: center;
      font-size: 11px;
      color: #999; }
