/*-----------subnav-------------*/
.subnav-wrap{
    display: none;
    width: 1200px;
    height: 467px;
    position: absolute;
    z-index: 2;
    #subnav{
        height: 100%;
        background: #f5f5f5;
        float: left;
        ul{
            width: 220px;
            height: 77px;
            &:hover{
                background: #fff;
                li p a{
                    color: #ff337e;
                }
                li span a{
                    color: #ff337e;
                }
            }
            li{
                width: 175px;
                height: 75px;
                margin: 0 auto;
                position: relative;
                left: 0;
                border-bottom: 1px dashed #000 !important;
                p{
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    a{
                        color: #000;
                        &:hover{
                            font-weight: bold;
                        }
                        i{
                            display: inline-block;
                            width: 22px;
                            height: 18px;
                            background: url(../images/spirit/icon.png);
                            background-position: -40px -65px;
                            margin: 0 5px;
                        }
                    }
                }
                span{
                    a{
                        font-size: 11px;
                        color: #a0a0a0;
                        &:hover{
                            font-weight: bold;
                        }
                    }
                }
            }
            li:last-of-type{
                border: 0;
            }
        }
        ul:nth-of-type(2) li p a i{
            background-position: -40px -96px;
        }
        ul:nth-of-type(3) li p a i{
            background-position: -40px -126px;
        }
        ul:nth-of-type(4) li p a i{
            background-position: -40px -156px;
        }
        ul:nth-of-type(5) li p a i{
            background-position: -40px -186px;
        }
        ul:nth-of-type(6) li p a i{
            background-position: -40px -216px;
        }
        div{
            display: none;
            padding: 50px 20px 0;
            height: 100%;
            background: #fff;
            position: absolute;
            top: 0;
            left: 220px;
            z-index: 3;
            dl{
                width: 280px;
                height: 200px;
                float: left;
                padding-right: 25px;
                dt{
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    border-bottom: 1px solid #eaeaea;
                }
                dd{
                    display: block;
                    padding-top: 14px;
                    margin-left: -8px;
                    ol li{
                        float: left;
                        font-size: 13px;
                        line-height: 14px;
                        padding: 0 8px;
                        color: #EEE;
                        height: 14px;
                        border-right: 1px solid #EEE;
                        margin: 7px 0;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

/*-----------main-------------*/
.main-wrap{
    width: 100%;
    height: 786px;
    background: #fff;
    padding-top: 20px;
    #main{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        background: #fff;
        .bakenav{
            width: 970px;
            padding: 10px 0 10px 20px;
            background: #fff;
            li{
                display: inline-block;
                zoom: 1;
                height: 24px;
                padding: 0 4px 0 0;
                color: #666;
                vertical-align: middle;
            }
            li:last-of-type{
                max-width: 300px;
                text-overflow:ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: bold;
            }
        }
        .content{
            width: 100%;
<<<<<<< HEAD
            min-height: 531px;
=======
            height: 531px;
>>>>>>> a9a2d497f133e7022265ddfc635b98189962d9f5
            .aside{
                margin-left: 20px;
                width: 190px;
                height: 465px;
                float: left;
                .classify{
                    width: 170px;
                    height: 120px;
                    margin-bottom: 20px;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    h5{
                        width: 140px;
                        height: 38px;
                        line-height: 38px;
                        padding: 0 15px;
                        text-align: center;
                        font-size: 14px;
                        background: #f5f5f5;
                    }
                    ul li{
                        margin-left: 20px;
                        margin-top: 20px;
                    }
                    ul li:nth-of-type(2){
                        margin-left: 32px;
                        margin-top: 10px;
                    }
                }
                .rank{
                    width: 170px;
                    height: 320px;
                    border: 1px solid #ddd;
                    h5{
                        padding: 10px;
                    }
                    dl{
                        width: 100%;
                        height: 280px;
                        dt img{
                            width: 100%;
                        }
                        dd{
                            padding: 10px 20px;
                            h6{
                                font-size: 12px;
                            }
                            .red{
                                font-size: 14px;
                                color: #ff442e;
                            }
                            p{
                                font-size: 11px;
                                color: #aaa;
                            }
                        }
                    }
                }
            }
            .article{
                width: 980px;
                height: 531px;
                float: left;
                .filter{
                    width: 948px;
                    height: 40px;
                    padding: 0 15px;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    line-height: 40px;
                    color: #666;
                    h3{
                        font-size: 11px;
                        float: left;
                    }
                    p{
                        font-size: 11px;
                        float: right;
                        span{
                            font-weight: bold;
                        }
                    }
                }
                .change{
                    width: 978px;
                    height: 36px;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    margin-top: 20px;
                    ul{
                        width: 100%;
                        height: 36px;
                        line-height: 36px;
                        background: #f5f5f5;
                        li{
                            float: left;
                            border-right: 1px solid #ddd;
                            padding: 0 15px;
<<<<<<< HEAD
                            cursor: pointer;
=======
>>>>>>> a9a2d497f133e7022265ddfc635b98189962d9f5
                            .inp{
                                width: 40px;
                                height: 20px;
                                border: 1px solid #ddd;
                                border-radius: 2px;
                                text-indent: 5px;
                            }
                            .btn{
                                width: 40px;
                                height: 24px;
                                background: #fff;
                                border: 1px solid #ddd;
                                &:hover{
                                    color:#ff442e;
                                }
                            }
                            .left{
                                width: 90px;
                                height: 100%;
                                float: left;
                            }
                            .right{
                                width: 180px;
                                height: 100%;
                                float: right;
                                > i{
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    background: #666;
                                    margin-right: 5px;
                                }
                                .numcurr{
                                    background: #ff222e;
                                }
                                .pagechange{
                                    display: inline-block;
                                    float: right;
                                    i{
                                        font-style: normal;
                                        padding: 0 5px;
                                    }
                                    .red{
                                        color: #ff442e;
                                    }
                                }
                            }
                        }
                        li:last-of-type{
                            width: 300px;
                            border-right: 0;
                        }
                        .curr{
                            background: #fff;
                            color: #ff442e;
                        }
                    }
                }
                .pro{
                    width: 238px;
                    height: 400px;
                    margin-top: 20px;
                    dl{
                        padding: 20px;
                        dt{
                            text-align: center;
                        }
                        dd{
                            h6{
                                font-size: 12px;
                                margin-bottom: 20px;
                            }
                            .red{
                                font-size: 16px;
                                color: #ff442e;
                            }
                            .del{
                                font-size: 12px;
                                text-decoration: line-through;
                                color: #aaa;
                                margin-left: 10px;
                            }
                            p{
                                color: #aaa;
                                font-size: 11px;
                                i{
                                    display: inline-block;
                                    background: url(../images/stars.png);
                                    width: 69px;
                                    height: 19px;
                                    margin-top: 3px;
                                    margin-right: 10px;
                                }
                            }
                            .hide{
                                width: 100%;
                                height: 57px;
                                margin-top: 10px;
                                display: none;
                                .incar{
                                    display: block;
                                    font-size: 12px;
                                    float: left;
                                    color: #fff;
                                    border-radius: 2px;
                                    margin-right: 10px;
                                    padding: 0 10px;
                                    height: 22px;
                                    line-height: 20px;
                                    background: #f03468;
                                    margin-bottom: 10px;
                                }
                                .flag{
                                    clear: both;
                                    width: 100%;
                                    height: 20px;
                                    font-size: 11px;
                                    border-radius: 2px;
                                    text-align: center;
                                    line-height: 20px;
                                    border: 1px solid #eee;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lately{
            width: 100%;
            padding-top: 20px;
            border: 1px solid #eee;
            p{
                font-size: 14px;
                color: #999;
                text-indent: 20px;
                height: 40px;
                line-height: 40px;
                background: #fff;
            }
            ul{
                width: 100%;
                height: 130px;
                background: #fff;
                li{
                    width: 78px;
                    height: 130px;
                    margin: 0 7px;
                    float: left;
                    text-align: center;
                    cursor: pointer;
                    img{
                        width: 70px;
                    }
                    span{
                        font-size: 14px;
                        color: #ff442e;
                    }
                }
            }
        }
    }
}
#footer{
    height: 212px;
    padding-top: 20px;
}